@for $i from 0 through 6 {
  .pt-#{$i},
  .py-#{$i} {
    padding-top: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .pb-#{$i},
  .py-#{$i} {
    padding-bottom: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .pl-#{$i},
  .px-#{$i} {
    padding-left: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .pr-#{$i},
  .px-#{$i} {
    padding-right: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .mt-#{$i},
  .my-#{$i} {
    margin-top: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .mb-#{$i},
  .my-#{$i} {
    margin-bottom: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .mx-#{$i},
  .ml-#{$i} {
    margin-left: 1em * $i;
  }
}

@for $i from 0 through 6 {
  .mx-#{$i},
  .mr-#{$i} {
    margin-right: 1em * $i;
  }
}

@media screen and (min-width: 1200px) {
  .mw-lg-40 {
    max-width: 40%;
  }

  .mw-lg-50 {
    max-width: 50%;
  }

  .mw-lg-60 {
    max-width: 60%;
  }

  .mw-lg-70 {
    max-width: 70%;
  }

  .mw-lg-80 {
    max-width: 80%;
  }
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}
