// $main: #d70981;
// $main-l: #e74ca6;
// $main-ll: #f7a4d4;
// $main-lll: #fff2fa;
// $main-h: #c7127c;
// $main-d: #b41070;

$main: #e1173c;
$main-l: #fd5454;
$main-ll: #ff8080;
$main-lll: #ffbbbb;
$main-h: #d32626;
$main-d: #bb2f2f;

$special-2: #6cb33f;
$special-2-l: #85c75c;
$special-2-d: #599e2f;
$body: #f9f9f9;