$main: #ab064e;
$main-l: #f2cfde;
$main-h: #c00a5a;

$white: rgba(#fff, 1);
$black: rgba(#101010, 1);

$special-1: #e7003e;
$special-2: #038184;
$special-3: #870873;
$special-4: #be1860;
$special-5: #c09507;
$special-6: #01a976;
$special-6-l: #c0dad3;
$special-7: #1978b8;


$text: #3d3d3c;
$text-d: #555;
$text-l: #777;
$text-main-light: #d9aacd;
$text-white-light: #f1b4c8;

$line-d: #cdcdcd;
$line-l: #d9d9d9;
$bg-l: #f3f2f0;
$bg-dark: #c4c4c4;
$body: #f9f9f9;

$gap: 15px;
$gap-big: 20px;
$ls: 0.05em;
$tr: all 0.2s ease-in-out;

$cub1: cubic-bezier(0.61, -0.44, 0.29, 1.4);
$cub2: cubic-bezier(0.71, -0.4, 0.09, 0.99);
