@media screen and (min-width: 375px) {
  .header {
    &-main {
      &__logo {
        width: 117px;
        height: 27px;
      }
      .user-buttons {
        &__item {
          padding: 13px;
          width: 45px;
        }
      }
    }
  }
  .main-slider {
    .main-slide {
      &__pic {
        height: 220px;
      }

      &__title {
        max-width: 90%;
        font-size: 18px;
      }

      &__description {
        max-width: 90%;
        font-size: 14px;
      }
    }
  }

  .pagination {
    &__links {
      max-width: 200px;
      justify-content: center;
      margin: 0 auto;
      padding: 0 40px;
    }

    &__link {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .order-view {
    .order {
      &.order--failed {
        .order-failed-title {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .form-text-wrapper {
    margin-top: 0;
    width: 100%;
    padding: 0 1em;
  }

  .modal__form {
    .form-row {
      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .modallogin {
    .modal__form {
      padding: 0;
    }
  }

  .form-text {
    min-width: auto;
    flex-basis: 50%;

    &--phones {
      min-width: 100%;
      justify-content: center;
      padding-bottom: 1em;

      .callback-phones {
        flex-direction: row;
        a {
          font-size: 1em;
          font-weight: 600;

          &::after {
            display: inline;
          }
          &:last-child {
            margin-right: 0;
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .header {
    background: url(../img/header-bg-1024.jpg) no-repeat center, linear-gradient(90deg, $special-3 0%, $special-4 100%);

    .menu-user {
      column-gap: 1em;
      padding: 0.5em;

      &__item {
        font-size: 0.8em;
        padding: 2em 1em;
      }
    }
  }

  .menu-catalog-categories {
    left: -350px;
    width: 350px;
  }

  .container--pr0 {
    padding-right: $gap;
  }

  .container--pl0 {
    padding-left: $gap;
  }

  .categories-slider {
    .category-slide {
      flex-grow: 1;

      &__link {
        flex-direction: column;
        align-items: center;
        padding: 0.65em 0;
        min-width: 80px;
      }
    }
  }

  .section-bigcategories {
    .tns-outer {
      &::before {
        background: url(../img/bigcategories-bg.png) no-repeat center bottom 100px;
      }

      &::after {
        height: 70%;
      }
    }
  }
.appendix-header {
  flex-direction: row;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 18px;
  }

  &__info {
    margin-top: 5px;
    font-size: 14px;
    display: flex;

    div {
      border-right: 1px solid $line-dark;
      padding-right: 10px;
      margin-right: 10px;

      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

  .appendix-total {
    text-align: right;
  }

}   
}

// md
@media screen and (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .pt-md-3 {
    padding-top: 3em;
  }

  .mb-md-0 {
    margin-bottom: 0;
  }

  .d-md-block {
    display: block;
  }

  .main-slider {
    .main-slide {
      &__pic {
        display: block;
        height: 355px;
        overflow: hidden;
      }

      &__container-outer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      &__container-inner {
        width: 100%;
        max-width: 1470px;
        padding-left: $gap;
        padding-right: $gap;
        margin: 0 auto;
      }

      &__content {
        height: auto;
        height: 275px;
        width: 405px;
        background-color: transparentize($black, 0.1);
        padding: 2em 2em 4em 2em;
      }

      &__title {
        font-size: 22px;
        max-width: 90%;
      }

      &__description {
        font-size: 14px;
        max-width: 90%;
      }

      &__link {
        bottom: 2em;
      }
    }
  }

  .tns-outer {
    .tns-nav {
      bottom: 1.5em;
      width: 100%;
      right: auto;
      align-items: center;
      justify-content: center;
    }
  }

  .section-title-wrapper {
    .section-title {
      min-width: 235px;
    }
  }

  .categories-slider {
    .category-slide {
      &__link {
        column-gap: 5px;
        flex-direction: row;
        justify-content: center;
        padding: 0.5em 0;
      }
      &__title {
        font-size: 0.65em;
      }
    }
  }

  .section-bigcategories {
    .tns-outer {
      &::before {
        height: 100%;
        background: url(../img/bigcategories-bg.png) no-repeat center bottom 100px;
        background-size: 95%;
      }

      &::after {
        height: 75%;
      }
    }

    .category-slide {
      display: flex;
      align-items: stretch;

      &__item {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  .section-banners {
    .banners {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .subcategories-icons {
    grid-template-columns: repeat(6, 1fr);

    &__link {
      font-size: 0.75em;
    }
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }

  .togglers {
    display: flex;
    column-gap: 0;
    margin-top: 0;

    .toggler-sort-wrapper {
      align-self: center;
    }

    .toggler-count-wrapper {
      margin-left: auto;
      min-width: 160px;
    }

    .toggler-sort {
      background: none;
      flex-basis: auto;
      display: flex;
      align-items: center;
      column-gap: 15px;

      &.is-active {
        position: relative;
        padding: 0;
      }

      &__item {
        display: block;
        font-size: 13.5px;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        line-height: 1.3;
        border-bottom: 1px dashed $text-light;
        cursor: pointer;
        transition: $tr;
        background: none;
        white-space: nowrap;
        padding: 0;
        height: auto;
        margin: 0;

        &.is-active {
          padding: 0;
          display: block;
          color: $main;
          border-color: $special-1;
          background: none;
          position: relative;

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
          &:hover {
            border-bottom-color: transparent;
            background: none;
          }
        }

        &:hover {
          border-bottom-color: transparent;
          background: none;
        }
      }
    }

    .toggler-count {
      &__item {
        &.is-active {
          background: transparent;
        }
      }
      &.is-active {
        position: relative;
      }
    }
  }

  .pagination {
    &--top {
      position: absolute;
      right: 15px;
      top: 40px;
      width: 280px;
    }

    &--bottom {
      position: absolute;
      right: 15px;
      width: 280px;
    }
  }

  .btn-filter {
    margin-left: 20px;
  }

  .product-container {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .product-gallery {
    display: grid;
    grid-template-columns: 66px 1fr;
  }

  .product-preview-slider {
    display: flex;
    width: 66px;
    max-height: 376px;

    &__item {
      width: 100%;
    }
  }

  .product-gallery-slider {
    width: 100%;
    z-index: 0;
    position: relative;

    &__item {
      width: 100%;
      position: absolute;
      // height: 385px;
      max-width: none;
    }

    &__download {
      bottom: 5px;
      left: 5px;
    }
  }

  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
    column-gap: $gap * 2;
  }

  .grid-md-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .tabs-titles {
    flex-direction: row;

    &__item {
      border: none;
      border-bottom: 4px solid $line-dark;
      width: 20%;

      &.is-active {
        border-color: $main;
      }
    }
  }

  .list-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $gap * 4;
  }

  .list-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: $gap;
  }

  .list-suppliers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: $gap;
  }

  .list-delivery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $gap;
  }

  .product-gallery-slider__sticky {
    display: none;
  }

  .product-info {
    .product-status {
      display: block;
    }

    &__price {
      font-size: 1.25em;
    }

    &__brand-logo {
      width: 100px;
    }
  }

  .product-colors-slider__item {
    width: 70px;
    a {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .order-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order-header {
    display: block;
  }

  .order-item {
    display: flex;
    column-gap: 20px;
    flex-grow: 1;
    border-bottom: 2px dotted $line-light;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:not(:first-child) {
      .order-item__table {
        thead {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &__remove {
      top: -10px;
    }

    &__table {
      tbody {
        tr {
          border-bottom-color: transparent;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .order-item__table {
    flex-grow: 1;
    margin-top: -3.9em;
    border-bottom: none;

    thead {
      tr {
        td {
          padding: 0.75em 0.5em;
          font-size: 0.8em;
          border: none;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: none;
        }

        &:first-child {
          td {
            padding-top: 4em;
          }
        }
      }
    }
  }

  .order-buttons {
    justify-content: flex-end;
    flex-direction: row;
    column-gap: $gap;
  }

  .current-discount__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .deposit-content,
  .charge-content {
    grid-template-columns: 1fr;
  }

  .purchase-volume__title {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
  }

  .discounts-info-wrapper {
    &__pic {
      order: 2;
    }

    &__text {
      order: 1;
    }
  }

  .history {
    &__header {
      display: grid;
      grid-template-columns: 2fr 0.75fr 0.75fr 6.5fr;
      text-align: center;
    }
  }

  .history-item {
    display: grid;
    grid-template-columns: 2fr 8fr;
    position: relative;
    padding-bottom: 50px;

    .more-block {
      display: grid;
      grid-template-columns: 1.5fr 6fr;
      align-self: flex-start;
      padding-top: 20px;
    }

    .history-table__head {
      display: none;
    }

    .history-table__body {
      padding: 10px 0;
    }

    .history-item-status {
      border-top: none;
      padding-top: 0;
      width: 100%;
      max-width: 540px;
      padding-left: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__show {
      position: absolute;
      left: 0;
      bottom: 30px;
      color: $main;
      padding: 0;
      background-color: transparent;
      min-width: 0;
      font-size: 14px;
      text-decoration: underline;
      border: none;

      &:hover {
        background: none;
        color: $main;
        opacity: 0.8;
      }
    }

    &__content {
      .text-small {
        margin: 0.3em 0;
      }
    }
  }

  .info-plate {
    padding: 20px;
    position: relative;

    &__content {
      font-size: 14px;
      margin-top: 0.75em;
      width: 70%;

      p {
        font-size: 12px;
      }

      p:first-child {
        margin-bottom: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .btn-main {
      font-size: 15px;
      width: 160px;
    }

    .btn-gray {
      font-size: 15px;
      width: 160px;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    .form-group__select {
      width: auto;
      min-width: 160px;
      position: absolute;
      right: 20px;
      bottom: 20px;
    }

    .info-plate__grid-1-1 {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: flex;
      align-items: center;
    }
  }

  .extraorder {
    &__item {
      width: 100%;
      font-size: 13px;
    }
  }

  .order-view {
    &__header {
      display: flex;
      justify-content: space-between;
      column-gap: 15px;
      align-items: center;
    }

    &__header-wrapper {
      order: 2;
      margin-right: auto;
    }

    &__title-wrapper {
      display: flex;
      align-items: baseline;
      column-gap: 20px;
    }

    &__status {
      margin-top: 0;
    }

    &__info {
      display: flex;
      margin-top: 2px;
      line-height: 1.3;

      > div {
        border-right: 1px solid $line-dark;
        padding-right: 13px;
        margin-right: 13px;
        flex-shrink: 1;

        &:last-child {
          border: none;
          margin: 0;
          padding: 0;
        }
      }
    }

    .order-return {
      order: 3;
      margin-top: 0;
      text-align: right;
    }

    .order-total {
      order: 4;
      margin-top: 0;
      text-align: right;
      margin-left: 30px;
    }    

    &__back-btn {
      position: relative;
      top: auto;
      right: auto;
      order: 1;
      background: $main;
      width: 36px;
      height: 36px;
      border-radius: 4px;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: url(../img/icons/arrow.svg) no-repeat center;
        filter: brightness(20);
      }
    }

    .more-block {
      display: block;
      width: 70%;
    }

    .order-item {
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
    .order {
      &.order--failed {
        .order-failed-title {
          padding: 30px 0;
          border-top: none;
          margin-bottom: 0;
        }

        .order-header {
          padding: 20px 0;
        }

        .order-item__table {
          margin-top: -4.5em;
        }
      }
    }
  }

  .diagram {
    width: 90px;
    height: 90px;

    .diagram-text {
      font-size: 18px;
      top: 7px;
      left: 7px;
      right: 7px;
      bottom: 7px;
    }
  }

  .menu-filters {
    &__wrapper {
      max-width: 250px;
    }
  }

  .cart-empty {
    padding-top: 100px;
  }
 
}

// lg
@media screen and (min-width: 1024px) {
  .d-lg-grid {
    display: grid;
    column-gap: $gap * 2;
  }

  .grid-lg-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .col-lg-8 {
    flex: 0 0 66.6666%;
    max-width: 66.666%;
  }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0;
  }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 1em;
  }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: 1em;
  }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 2em;
  }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: 2em;
  }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 3em;
  }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: 3em;
  }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 4em;
  }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: 4em;
  }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 5em;
  }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: 5em;
  }

  .main-slider {
    .main-slide {
      &__pic {
        height: 355px;
      }

      &__content {
        height: 275px;
        width: 455px;
        padding: 40px 40px 80px 40px;
      }

      &__title {
        font-size: 22px;
        max-width: 95%;
      }

      &__description {
        font-size: 14px;
        max-width: 90%;
        margin-top: 1.5em;
      }

      &__link {
        bottom: 40px;
      }
    }
  }

  .post-slider {
    .post-slide {
      &__title {
        font-size: 18px;
      }

      &__info {
        padding: 20px 20px 50px 20px;
      }

      &__link {
        display: flex;
      }
    }
  }

  .modals {
    &__item {
      min-height: 300px;
    }
  }

  .modal {
    &__title {
      font-size: 1.3em;
      padding: 0.5em 1em;
    }

    &__form {
      padding: 2em;
      text-align: center;

      .form-row {
        display: flex;
        column-gap: $gap;
        margin-bottom: 2em;
        flex-wrap: wrap;

        .form-group {
          flex-basis: 0;
        }
      }
    }
  }

  .form-text {
    flex-basis: 0;
  }

  .footer-top {
    padding-top: 45px;
    padding-bottom: 20px;

    .accordion {
      background: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: $gap;
      transition: none;

      .accordion__item {
        margin-bottom: 0;
        transition: none;

        .accordion__title {
          font-size: 14px;
          background: none;
          padding: 0;
          display: block;
          transition: none;
          cursor: initial;
          border-bottom: none;

          &::after {
            display: none;
          }

          &:hover {
            background: none;
          }
        }

        .accordion__content {
          background: none;
          padding-left: 0;
          padding-right: 0;
          max-height: 500px;
        }

        &.is-active {
          .accordion__content {
            max-height: 500px;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .container--footer {
    padding-left: $gap;
    padding-right: $gap;
    display: grid;
    grid-template-columns: 8fr 3fr;
  }

  .footer {
    .footer-menu {
      margin-top: 15px;
      .footer-menu__item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: none;

        > a {
          font-size: 14px;
          letter-spacing: normal;
        }
      }
    }
    .footer-top__contacts {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-top: 0;
    }
  }

  .categories-slider {
    .category-slide {
      &__title {
        font-size: 0.75em;
      }
    }
  }

  .product-mini-slider {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    &__item:nth-child(7n) {
      .color-variants {
        right: -70px;
        left: auto;
        box-shadow: 10px 5px 15px transparentize($black, 0.85);
      }
    }

    .product {
      &__pic {
        width: 100%;
        height: auto;
      }
    }
  }

  .product-group {
    .tns-ovh {
      overflow: visible;
    }
  }

  .section-bigcategories {
    .tns-outer {
      &::before {
        background: url(../img/bigcategories-bg.png) no-repeat center bottom 130px;
        background-size: 90%;
      }

      &::after {
        height: 60%;
        background: url(../img/bigcategories-after.jpg) no-repeat center bottom;
        background-size: cover;
      }
    }
  }

  .products {
    grid-template-columns: repeat(6, 1fr);
  }

  .product-wrapper {
    &:hover {
      .product {
        position: absolute;

        &__header {
          display: block;
        }

        &__link {
          z-index: 3;
        }

        &__quick-view {
          display: flex;
        }
      }

      .color-variants {
        display: flex;
      }

      .size-variants {
        display: flex;
      }
    }
  }

  // .pagination {
  //   .pagination__prev,
  //   .pagination__next {
  //     a {
  //       width: 36px;
  //       height: 36px;
  //     }
  //   }
  // }

  // отзывы на странице товара
  .feedback-form {
    &__checkbox-list {
      display: flex;
      align-items: baseline;
      column-gap: 1.5em;
      margin: 1.5em 0;

      li {
        align-items: baseline;
        margin-bottom: 0;
      }
    }

    &__upload-wrapper {
      label {
        align-items: center;
      }
    }
  }

  .terms-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2em;
  }

  .list-return {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5em;
  }

  .specifications-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .order-sent {
    display: flex;
    flex-direction: row;
    column-gap: 3em;

    &__pic {
      order: 2;
    }

    &__content {
      order: 1;
      flex-basis: 50%;
    }
  }

  .social-share-wrapper {
    margin-top: -25px;
  }

  .product-container {
    column-gap: 0;
  }

  .product-gallery {
    grid-template-columns: 80px 1fr;
  }

  .product-preview-slider {
    width: 80px;
    max-height: 460px;
  }

  .product-colors-slider__item {
    width: 90px;
  }

  .product-info {
    padding: 2em 3em;

    &__brand-logo {
      right: 3em;
      top: 2em;
    }
  }

  .order-item {
    &__title {
      font-size: 18px;
    }

    &__info-wrapper {
      min-width: 350px;
    }
  }

  .order-view {
    &__header {
      padding: 30px 40px;
      box-shadow: 0 5px 20px transparentize($black, 0.92);
      border-radius: 4px;
    }

    .order-info {
      .order-info-list {
        width: 50%;
        margin-left: auto;
      }
    }
  }

  .history-item {
    .history-item-payment {
      position: absolute;
      right: 0;
      top: 70px;
      margin: 0;
      text-align: center;
      width: 170px;
      line-height: 1.1em;

      &__waiting {
        margin-bottom: 10px;
      }
    }
  }

  .diagram {
    width: 128px;
    height: 128px;

    .diagram-text {
      font-size: 28px;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
    }
  }

  .pagetitle {
    &__counter {
      font-size: 12px;
    }
  }

  .modallogin {
    .form-row {
      margin-bottom: 15px;
    }
  }

  .choose-variants {
    margin-top: 30px;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;


    &__item {
      text-align: center;
      margin-top: 0;
      padding: 15px 15px 15px 15px;
      flex-grow: 1;
      flex-basis: 50%;
    }
  }
}

//xl
@media screen and (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.6666%;
    max-width: 66.666%;
  }

  .d-xl-grid {
    display: grid;
    column-gap: 20px;
  }

  .grid-xl-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .header {
    position: relative;
    background: url(../img/header-bg-2600.jpg) no-repeat center, linear-gradient(90deg, $special-3 0%, $special-4 100%);

    &-top {
      display: block;

      &__inner {
        height: 40px;
      }
    }

    &-main {
      padding-top: 0;
      padding-bottom: 0;

      &__logo {
        width: 158px;
        min-width: 158px;
        height: 36px;
        margin-left: 5px;
        margin-right: 10px;
      }

      &__inner {
        height: 80px;
        padding-right: 110px;
        position: relative;
      }

      &__navigation {
        display: flex;
      }

      .user-buttons {
        width: 100%;
        max-width: 500px;
        margin-left: $gap;

        &__item {
          padding: 11px;
        }

        .btn-favorites {
          padding: 13px;
        }
      }

      .search {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        margin-right: 15px;
        min-width: 250px;

        &__form {
          margin: 0;
        }

        &__close {
          display: none;
        }
      }

      .btn-info,
      .btn-search,
      .btn-login,
      .btn-user {
        display: none;
      }

      .favorites {
        .btn-favorites {
          display: block;
        }
      }

      .cart-mini {
        .btn-cart {
          width: 80px;
          flex-direction: column;
          position: absolute;
          right: $gap;
          top: -2px;
          height: auto;
          min-height: calc(100% + 2px);
          padding-top: 33px;

          svg {
            width: 28%;
            height: 28%;
          }
        }

        &__info {
          display: flex;
          padding: 0.5em 1em 1em 1em;
        }

        // показываем список товаров в корзине при наведении на иконку корзины
        &:hover {
          .dropdown-products {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            max-height: 1000px;
            transform: translateY(-10px);
          }
        }
      }
    }
  }

  .dropdown-products {
    &__items {
      max-height: 600px;
    }
  }

  .product-wrapper {
    .product {
      &__quick-view {
        top: 250px;
        font-size: 0.8em;
        max-width: 170px;

        &::after {
          display: block;
        }
      }
    }
  }

  .main-slider {
    .main-slide {
      &__pic {
        height: 500px;
      }

      &__content {
        width: 590px;
        padding: 50px 45px 100px 45px;
        height: 345px;
      }

      &__title {
        font-size: 36px;
        line-height: 0.95;
        max-width: 100%;
      }

      &__description {
        max-width: 90%;
      }

      &__link {
        letter-spacing: $ls * 2;
        font-size: 0.75em;
        font-weight: 400;
        bottom: 45px;
        padding: 0.75em 2.5em;
        border: 2px solid transparentize($white, 0.6);

        &:hover {
          background-color: $main;
          border-color: $main;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .section-title-wrapper {
    margin-bottom: 2em;
    .section-title {
      min-width: 255px;
    }
  }

  .section-categories {
    display: none;
  }

  .container--footer {
    grid-template-columns: 6fr 3fr;
  }

  .footer-top__contacts {
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .footer-top__info {
      order: -1;
      margin-top: 0;

      .footer-info {
        padding-bottom: 45px;
      }
    }
  }

  .subcategories-icons {
    grid-template-columns: repeat(12, 1fr);

    &__link {
      font-size: 0.75em;
    }
  }

  .product-container {
    grid-template-columns: 1fr 2.3fr;
  }

  .product-preview-slider {
    max-height: 458px;
  }

  .product-info {
    background-color: $white;
    padding: 3em 3em;

    &__brand-logo {
      width: 120px;
      right: 3em;
      top: 3em;
    }
  }

  .product-gallery-slider {
    width: 100%;
    &__item {
      max-height: 700px;
    }
  }

  .discounts-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 3em;

    .current-discount__content {
      display: flex;
      flex-direction: column;
    }
  }

  .history {
    &__header {
      grid-template-columns: 3fr 1fr 1fr 6fr;
    }
  }

  .history-item {
    grid-template-columns: 3fr 8fr;

    .history-item-status {
      max-width: 550px;
      padding-left: 40px;
    }

    .history-item-payment {
      top: 60px;
      width: 170px;
    }

    .more-block {
      grid-template-columns: 2fr 6fr;
    }
  }

  .menu-filters-wrapper {
    top: 0;
  }

  .size-variants {
    justify-content: center;
  }

  .togglers {
    .toggler-sort {
      column-gap: 20px;
    }
  }
}

//xxl
@media screen and (min-width: 1366px) {
  main {
    position: relative;
  }

  .header {
    &-main {
      &__logo {
        width: 158px;
        min-width: 158px;
        height: 36px;
        margin-left: 22px;
        margin-right: 10px;
      }

      &__navigation {
        a {
          padding: 1em;
        }
      }

      .search {
        min-width: 350px;
        width: 100%;
      }
    }
  }

  .container--pagination {
    position: initial;
  }

  .pagination {
    pointer-events: none;
    width: 100%;
    max-width: none;

    &--top {
      position: absolute;
      right: 0;
      top: 40px;
      left: 0;
    }

    &--bottom {
      position: absolute;
      width: 100%;
      left: 0;
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 680px;
      z-index: 1;
      pointer-events: none;
      margin: 0 auto;
    }

    &__prev,
    &__next {
      width: 340px;
    }

    &__prev {
      &::before {
        margin-left: 10px;
      }
      &::after {
        content: "Предыдущая страница";
        margin-left: auto;
        margin-right: auto;
      }
      &:hover {
        &::before {
          transform: translateX(5px);
        }
      }
    }

    &__next {
      transform: translateX(-1px);
      flex-direction: row-reverse;

      &::before {
        margin-right: 10px;
      }
      &::after {
        content: "Следующая страница";
        margin-left: auto;
        margin-right: auto;
      }
      &:hover {
        &::before {
          transform: rotate(180deg) translateX(5px);
        }
      }
    }

    &__links {
      position: absolute;
      right: 15px;
      top: 0;
      max-width: none;
      margin: 0;
      padding: 0;
    }
  }

  .price {
    font-size: 1em;
  }

  .product-info {
    &__price {
      font-size: 1.25em;
    }
  }

  .product-colors-slider__item {
    width: 105px;
  }

  .product-info {
    padding: 4em 6em;

    &__brand-logo {
      width: 120px;
      right: 6em;
      top: 4em;
    }
  }

  .history {
    &__header {
      grid-template-columns: 3fr 1fr 1fr 6fr;
    }
  }

  .history-item {
    padding-top: 40px;

    &__info {
      flex-direction: row;
      column-gap: 40px;
    }

    .history-item__icon {
      width: 140px;

      &::before {
        right: 32px;
      }

      &::after {
        position: relative;
        text-align: center;
        width: 100%;
        margin-top: 65px;
        right: auto;
      }
    }

    .history-item-status {
      max-width: 650px;
      padding-left: 50px;
    }
  }

  .history-item-status__item {
    justify-self: center;
    max-width: 120px;
  }

  .footer-top {
    padding-bottom: 200px;
  }

  .order-item {
    &__info-wrapper {
      min-width: 500px;
    }
  }

  .order-view {
    .status-icons__item {
      width: 33px;
      height: 24px;

      &:after {
        top: 0;
        right: -210px;
        left: auto;
      }

      &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 5px;
        left: 30px;
        width: 7px;
        height: 7px;
        border: 7px solid transparent;
        border-right-color: $text;
      }      
    }

    .more-block {
      width: 100%;
    }
  }

}

@media screen and (min-width: 1900px) {
  .container--big {
    // max-width: 1900px;
    max-width: 100%;
    padding-left: $gap-big;
    padding-right: $gap-big;
  }

  // .pagination {
  //   width: 200px;
  //   margin-bottom: 0;

  //   &.pagination--top {
  //     position: absolute;
  //     right: $gap;
  //     top: 40px;
  //   }

  //   .pagination__prev,
  //   .pagination__next {
  //     width: 340px;
  //     position: absolute;

  //     a {
  //       display: flex;
  //       align-items: center;
  //       width: 100%;
  //       font-weight: 400;

  //       &::after {
  //         width: 9px;
  //         height: 9px;
  //         background-size: contain;
  //       }

  //       &:hover {
  //         background-color: $bg-light;
  //         border-color: $line-dark;

  //         &::after {
  //           filter: none;
  //         }
  //       }
  //     }
  //   }

  //   .pagination__prev {
  //     right: 740px;
  //     a {
  //       flex-direction: row-reverse;

  //       &::before {
  //         content: "Предыдущая страница";
  //         margin-right: auto;
  //       }

  //       &::after {
  //         margin-right: auto;
  //       }

  //       &:hover {
  //         &::after {
  //           transform: translateX(5px);
  //         }
  //       }
  //     }
  //   }

  //   .pagination__next {
  //     right: 400px;
  //     a {
  //       transform: none;
  //       border-radius: 0 2px 2px 0;
  //       margin-left: -1px;

  //       &::before {
  //         content: "Следующая страница";
  //         margin-left: auto;
  //       }

  //       &::after {
  //         transform: rotate(-180deg);
  //         margin-left: auto;
  //       }

  //       &:hover {
  //         &::after {
  //           transform: rotate(-180deg) translateX(5px);
  //         }
  //       }
  //     }
  //   }

  //   &.pagination--top {
  //     .pagination__prev {
  //       right: 720px;
  //     }
  //     .pagination__next {
  //       right: 380px;
  //     }
  //   }
  // }

  .products {
    column-gap: 10px;

    .product {
      &__favorite {
        width: 36 px;
        height: 36px;
      }
    }
  }

  .product-gallery-slider {
    &__item {
      height: 800px;
    }
  }

  .list-suppliers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .terms-wrapper {
    grid-template-columns: 1fr 2fr;
    column-gap: 3em;
  }

  .list-docs {
    &__item {
      max-width: 270px;
    }
  }

  .product-container {
    grid-template-columns: 2fr 3fr;
    column-gap: 0;
  }

  .product-wrapper {
    .product__info {
      padding: 15px;
    }
  }

  .product-gallery {
    grid-template-columns: 112px 1fr;
  }

  .product-preview-slider {
    width: 112px;
    min-height: 653px;
  }

  .order-sent {
    padding: 4em;
  }
}

@media screen and (max-height: 1000px) and (min-width: 1200px) {
  .dropdown-products {
    font-size: 0.85em;
    .product__pic {
      width: 75px;
      height: auto;
    }
  }
}
