.alert {
    background-color: $bg-ll;
    padding: 20px;
    position: relative;
    border-radius: 3px;


    > p {
        line-height: 1.4;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &--triangle {
        padding-bottom: 70px;

        &::after {
            content: "";
            width: 100%;
            height: 50px;
            display: block;
            background: url(../img/triangle.svg) no-repeat right -10px bottom -2px;
            background-size: contain;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &--sm {
        padding: 10px;
        font-size: $base-fz * 0.85em;
        line-height: 1.5;
    }

    &--inline {
        display: inline-block;
    }

    &--bordered {
        border-width: 1px;
        border-style: solid;
        border-color: $line-l;
    }

    &--main {
        background-color: $main-lll;
        background-color: #fff;
        color: $main;
        border-color: $main-ll;
    }


}
