$main: #ab064e;
$main-light: #f2cfde;

$white: rgba(#fff, 1);
$black: rgba(#101010, 1);

$special-1: #e7003e;
// $special-2: #009295;
$special-2: #038184;
$special-3: #710067;
$special-4: #e64747;

$text: #3d3d3c;
$text-dark: #555;
$text-light: #777;
$text-main-light: #d9aacd;
$text-white-light: #f1b4c8;

$line-dark: #cdcdcd;
$line-light: #d9d9d9;
$bg-light: #f3f2f0;
$bg-dark: #c4c4c4;

$gap: 15px;
$gap-big: 20px;
$ls: 0.05em;
$tr: all 0.2s ease-in-out;

$cub1: cubic-bezier(0.61, -0.44, 0.29, 1.4);
$cub2: cubic-bezier(0.71, -0.4, 0.09, 0.99);

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $text;
  background-color: #f9f9f9;
}

main {
  min-height: 50vh;
}

.container {
  max-width: 1470px;
  padding-left: $gap;
  padding-right: $gap;
  margin: 0 auto;
  position: relative;
}

.container--footer {
  padding: 0;
}

.container--pr0 {
  padding-right: 0;
}

.container--pl0 {
  padding-left: 0;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-gap-1 {
  gap: 1em;
}

h1,
.h1 {
  font-size: 24px;
  letter-spacing: $ls;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 22px;
  letter-spacing: $ls;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 20px;
  letter-spacing: $ls;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 18px;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 15px;
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.after-percent {
  &::after {
    content: "%";
  }
}

.after-rub {
  &::after {
    content: " ₽";
  }
}

.link-callback {
  color: $text-white-light;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px dashed transparentize($text-white-light, 0.2);
  transition: $tr;

  &:hover {
    color: $white;
  }
}

.d-flex {
  display: flex;
  column-gap: 15px;
}

.flex-gap-10 {
  column-gap: 10px;
}

.flex-gap-5 {
  column-gap: 5px;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.list-clear {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0.5em;
  }
}

.img-max {
  max-width: 100%;
}

.row {
  margin-left: -$gap;
  margin-right: -$gap;
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  padding-left: $gap;
  padding-right: $gap;
  position: relative;
  width: 100%;
}

.alert {
  font-size: 0.9em;
  border-bottom: 1px solid $main;
  border-top: 1px solid $main;
  position: relative;
  margin-top: 1em;
  background: #f9f2f2;
  padding-left: 1.5em;
  padding-right: 1.5em;

  &::before {
    content: "Внимание";
    position: absolute;
    color: $white;
    left: 0;
    background-color: $main;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7em;
    padding: 0.3em 1em;
    transform: translateY(-100%);
  }
}

// кнопки
.btn {
  border-radius: 3px;
  min-width: 220px;
  text-align: center;
  padding: 0.6em 2em;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s;
  text-decoration: none;
  color: $black;
  white-space: nowrap;

  &:active {
    transform: translateY(2px);
  }

  &:focus {
    outline: none;
  }

  &-main {
    background-color: $main;
    color: $white;

    &:hover {
      background-color: $main - 10;
    }
  }

  &-gray {
    color: $white;
    background-color: $text-light;
    min-width: auto;
  }

  &-white {
    background-color: $white;
    min-width: auto;
    border: 1px solid $line-light;
  }
}

.btn-burger {
  padding: 8px 8px 8px 0;
  display: inline-block;
  cursor: pointer;
  transition: $tr;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover,
  &.is-active:hover {
    opacity: 0.7;
  }

  &__box {
    width: 19px;
    height: 14px;
    display: inline-block;
    position: relative;
    perspective: 30px;
  }

  &__inner {
    display: block;
    top: 50%;
    margin-top: -1px;
    transition: transform 0.15s $cub1, background-color 0s 0.1s $cub1;

    &,
    &::before,
    &::after {
      width: 19px;
      height: 2px;
      position: absolute;
      background-color: $white;
      transition: $tr;
    }

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &.is-active {
    .btn-burger__inner {
      background-color: transparent;
      transform: rotateY(180deg);

      &::before {
        transform: translate3d(0, 7px, 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, -7px, 0) rotate(-45deg);
      }
    }
  }
}

.btn-filter {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: $ls;
  color: $text-dark;
  text-decoration: none;
  border-bottom: 1px dashed $text;
  margin-left: auto;

  &.is-active {
    color: $main;
    border-bottom-color: $main;
  }
}

.btn-logout {
  color: $main;
  font-size: 0.9em;
  margin-top: 0.5em;
}

// фансибокс
.fancybox-is-open .fancybox-bg {
  opacity: 0.6;
}

.fancybox-container {
  .fancybox-content {
    padding: 0;
  }
  .modals__item {
    .fancybox-close-small {
      filter: brightness(4);
    }
  }
}

// аккордион
.accordion {
  &__item {
    .accordion__title {
      position: relative;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        right: 15px;
        top: calc(50% - 10px);
        background: url(../img/icons/plus.svg) no-repeat center;
        background-size: 50%;
        transition: transform 0.2s $cub1;
        transform: rotate(-90deg);
      }
    }
    .accordion__content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s $cub1;
    }
  }
  .is-active {
    > .accordion__title {
      &::after {
        background-image: url(../img/icons/minus.svg);
        transform: rotate(0deg);
      }
    }
    > .accordion__content {
      max-height: 3000px;
    }
  }
}

.accordion--standart {
  .accordion__title {
    color: $text-dark;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: $tr;
    border-top: 1px solid $line-light;

    &:hover {
      background: linear-gradient(270deg, $bg-light 0%, $white 100%);
    }

    &::after {
      background: url(../img/icons/arrow.svg) no-repeat center;
      background-size: 30%;
    }
  }

  .accordion__content {
    padding-left: $gap;
    padding-right: $gap;

    p {
      font-size: 0.95em;
    }
  }

  .accordion__item {
    &.is-active {
      .accordion__title {
        border-bottom: 1px solid $main;

        &::after {
          background-image: url(../img/icons/arrow.svg);
          transform: rotate(90deg);
        }
      }
      .accordion__content {
        padding-bottom: 3em;
      }
    }
  }
}

//для текста

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.text-muted {
  color: $text-light;
}

.text-main {
  color: $main;
}

.text-bold {
  font-weight: 600;
}

.text-small {
  font-size: 0.85em;
}

.text-nowrap {
  white-space: nowrap;
}

p {
  line-height: 1.4;
  a {
    color: $main;
    transition: $tr;

    &:hover {
      opacity: 0.8;
    }
  }
}

hr {
  height: 0;
  border: none;
  border-bottom: 2px solid $line-dark;
  margin: 2em 0;

  &.dotted {
    border-bottom: 2px dotted $line-dark;
  }
}

.marker {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
  list-style: none;

  li {
    margin: 0.75em 0;
    position: relative;

    &::before {
      content: "•";
      font-size: 1.25em;
      line-height: 1em;
      position: absolute;
      top: -0.1em;
      left: -1em;
      color: $main;
    }

    a {
      text-decoration: none;
      color: $text;
      transition: $tr;

      &:hover {
        color: $main;
      }
    }
  }
}

.introtext {
  font-size: 1.15em;
  font-weight: 600;
  line-height: 1.4;
}

.italic {
  font-style: italic;
}

.mb-1,
.my-1 {
  margin-bottom: 1em;
}

.mt-1,
.my-1 {
  margin-top: 1em;
}

.mb-2,
.my-2 {
  margin-bottom: 2em;
}

.mt-2,
.my-2 {
  margin-top: 2em;
}

.mb-3,
.my-3 {
  margin-bottom: 3em;
}

.mt-3,
.my-3 {
  margin-top: 3em;
}

.mb-4,
.my-4 {
  margin-bottom: 4em;
}

.mt-4,
.my-4 {
  margin-top: 4em;
}

.mb-5,
.my-5 {
  margin-bottom: 5em;
}

.mt-5,
.my-5 {
  margin-top: 5em;
}

.p-0 {
  padding: 0;
}

.pl-1 {
  padding-left: 1em;
}
