.bust-wrapper {
    order: 8;
    margin-top: 30px;
    margin-bottom: 250px;
    max-width: 600px;
}

.bust-result {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    font-weight: 600;
    font-size: 14px;

    span {
        font-weight: 400;
    }

    .is-animated {
        animation: counter 0.2s ease-in-out;
    }
}

.bust-body {
    // border: 1px solid blue;
    margin-top: 30px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    position: relative;

    @media screen and (min-width: 768px) {
        background-color: $body;
        height: 400px;
    }
}

.bust-pic {
    position: absolute;
    top: -10px;
    left: calc(50% - 67px);
    z-index: 0;

    @media screen and (min-width: 768px) {
        top: 23px;
    }
}

.drags {
    // border: 1px solid red;
    z-index: 1;
    padding-bottom: 20px;
}

.drag-range {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__value {
        display: block;
        width: 36px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        background-color: $text;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 1px;
        margin-bottom: -15px;
    }

    &__title {
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    &__input {
        display: flex;
        column-gap: 10px;
        justify-content: space-between;

        input {
            width: 220px;

            @media screen and (min-width: 768px) {
                width: 287px;
            }
        }

        input[type="range"] {
            -webkit-appearance: none !important;
            background: url(../img/ruler.svg) repeat-x;
            height: 20px;
            // border: 1px solid red;
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            background: linear-gradient($main 35%, transparent 35%);
            height: 20px;
            width: 37px;
            cursor: pointer;
            transition: $tr;

            &:hover {
                background: linear-gradient($main-h 35%, transparent 35%);
            }
        }
    }

    &__text {
        font-size: 14px;
    }

    &:last-child {
        margin-top: 20px;
    }
}
