.callback-phones {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    a {
        white-space: nowrap;
        font-size: $base-fz * 0.85em;
        text-decoration: none;
        color: $text;
        margin-right: 0.5em;
        transition: $tr;

        &:hover {
            color: $text-l;
        }

        &::after {
            display: none;
            content: "•";
            color: $text-ll;
            margin-left: 0.5em;
        }
    }
}
