.cart-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    // background-color: $bg-d;
    background-color: #fff;
    box-shadow: 0 20px 100px #0000000d;
    border-radius: 6px;
    flex-wrap: nowrap;

    @media screen and (min-width: 992px) {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        flex-direction: row;
    }

    &__content {
        flex-grow: 1;
        flex-basis: 50%;
        // box-shadow: 0 5px 100px #0000000d;
        // background-color: #fff;
        // border-radius: 6px;
        padding: 40px 20px 30px 20px;

        @media screen and (min-width: 992px) {
            padding: 40px 30px 30px 30px;
        }
    }

    // > &__content {
    //     box-shadow: none;
    // }

    &__row {
        // border-top: 1px solid $line-d;
        // border-bottom: 1px solid $line-d;
        border: 1px dotted $line-l;
        font-size: 14px;
        background-color: #fff;
        padding-left: 10px;
        margin-top: 15px;
        height: 38px;
        display: flex;
        align-items: center;

        > span {
            font-weight: 600;
            color: $special-2;
            margin-left: 5px;
        }
    }

    &__total {
        font-size: 18px;
        text-align: right;
        padding-top: 20px;

        > span {
            font-weight: 600;
        }
    }

    &__warning {
        padding: 15px 0;
    }

    &__text {
        padding-top: 15px;
        font-size: 13px;
        white-space: nowrap;
    }
}
