.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
    }

    &__icon {
        width: 65px;
        height: 65px;
        opacity: 0.35;
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 600;
        font-size: $base-fz * 24px;
        text-align: center;
    }

    &__text {
        text-align: center;
        max-width: 600px;
        margin-bottom: 30px;

        > p {
            font-size: $base-fz * 16px;
        }
    }
}
