.cart-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #fff;
    box-shadow: 0 20px 100px #0000000d;
    border-radius: 6px;
    flex-wrap: nowrap;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }

    &__wrapper {
        position: sticky;
        top: 60px;

        @media screen and (min-width: 1200px) {
            top: 20px;
        }
    }

    &__content {
        flex-grow: 1;
        flex-basis: 50%;
        padding: 40px 20px 30px 20px;

        @media screen and (min-width: 992px) {
            padding: 40px 30px 30px 30px;
        }
    }

    &__row {
        border: 1px dotted $line-l;
        font-size: $base-fz * 14px;
        background-color: #fff;
        padding-left: 10px;
        margin-top: 15px;
        height: 38px;
        display: flex;
        align-items: center;

        > span {
            font-weight: 600;
            color: $special-2;
            margin-left: 5px;
        }
    }

    &__total {
        font-size: $base-fz * 18px;
        text-align: right;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        > span {
            font-weight: 600;
        }
    }

    &__warning {
        padding: 15px 0;
    }

    &__text {
        margin-top: 5px;
        white-space: nowrap;
        > span {
            font-weight: 600;
        }
    }
}
