.color-variants {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-left: -5px;

    &__item {
        text-decoration: none;
        width: 18px;
        height: 18px;
        display: block;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: padding 0.15s ease-in-out;

        &::after {
            content: "";
            display: block;
            background-color: rgb(228, 228, 228);
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        &:hover,
        &.is-active {
            padding: 2px;
        }

        &--white {
            &::after {
                background-color: #fff;
                outline: 1px solid $line-l;
            }
        }

        &--blackwhite {
            &::after {
                background: linear-gradient(90deg, #fff 50%, rgb(62, 63, 65) 50%);
                outline: 1px solid $line-l;
            }
        }

        &--biege {
            &::after {
                background-color: rgb(255, 236, 214);
                outline: 1px solid $line-l;
            }
        }

        &--yellow {
            &::after {
                background-color: rgb(255, 243, 68);
                outline: 1px solid $line-l;
            }
        }

        &--gray {
            &::after {
                background-color: rgb(187, 191, 194);
            }
        }

        &--green {
            &::after {
                background-color: rgb(161, 250, 109);
            }
        }

        &--purple {
            &::after {
                background-color: rgb(208, 150, 247);
            }
        }

        &--mint {
            &::after {
                background-color: rgb(163, 255, 186);
            }
        }

        &--multi {
            &::after {
                background: linear-gradient(90deg, rgba(0,44,255,1) 50%, rgba(255,0,0,1) 50%);
            }
        }

        &--lightblue {
            &::after {
                background-color: rgb(190, 218, 255);
            }
        }

        &--brown {
            &::after {
                background-color: rgb(155, 91, 72);
            }
        }

        &--magenta {
            &::after {
                background-color: rgb(255, 163, 209);
            }
        }

        &--orange {
            &::after {
                background-color: rgb(255, 149, 50);
            }
        }

        &--red {
            &::after {
                background-color: rgb(255, 90, 78);
            }
        }

        &--blue {
            &::after {
                background-color: rgb(61, 134, 230);
            }
        }

        &--burgundy {
            &::after {
                background-color: rgb(184, 37, 0);
            }
        }

        &--fuchsia {
            &::after {
                background-color: rgb(221, 52, 255);
            }
        }

        &--turquoise {
            &::after {
                background-color: rgb(98, 232, 255);
            }
        }

        &--animal {
            &::after {
                background-color: rgb(61, 134, 230);
            }
        }

        &--black {
            &::after {
                background-color: rgb(84, 86, 88);
            }
        }
    }
}

// .color-variants {
//     flex-direction: column;
//     row-gap: 5px;
//     position: absolute;
//     right: -85px;
//     top: 0;
//     width: 85px;
//     z-index: 2;
//     background-color: #fff;
//     height: 100%;
//     padding: 5px 15px 5px 5px;
//     border-radius: 0 6px 0 0;

//     @media screen and (min-width: 1400px) {
//         padding: 15px 15px 0 0;
//     }

//     &__item {
//         display: block;
//         cursor: pointer;
//         border-radius: 2px;
//         overflow: hidden;

//         > img {
//             display: block;
//             width: 100%;
//         }

//         &.is-active {
//             outline: 1px solid $main-l;
//         }
//     }
// }
