.form-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;

    > label {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        padding: 5px 0;
        cursor: pointer;
        font-size: 14px;

        > input {
            margin: 0 5px 0 0;
        }
    }

    > textarea {
        width: 100%;
        resize: vertical;
        min-height: 100px;
        border: none;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 3px;
    }
}

.form-file {
    border: 1px dashed $line-l;
    padding: 20px 15px;
    background-color: lighten($bg-ll, 5);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    width: 100%;

    @media screen and (min-width: 768px) {
        padding: 20px 30px;
    }

    &:hover {
        background-color: lighten($bg-ll, 5);
    }

    &.is-highlight {
        border-color: $special-2;
    }

    > input {
        display: none;
    }

    > label {
        display: flex;
        column-gap: 20px;
        font-size: 13px;
        line-height: 1.4;
        color: $text-l;
        cursor: pointer;
        align-items: center;

        &::before {
            flex-shrink: 0;
            content: "";
            display: block;
            width: 35px;
            height: 35px;
            background: url(../img/icons/upload.svg) no-repeat center;
            background-size: 100%;
        }
    }
}

.form-file-prewiew {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;

    > img {
        max-width: 90px;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 3px 6px 0 rgba(82, 78, 78, 0.4);
        display: block;
    }
}

.form-text {
    display: flex;
    padding-bottom: 30px;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__icon--map-marker {
        background: url(../img/icons/map-marker.svg) no-repeat top center;
    }

    &__icon--clock {
        background: url(../img/icons/clock.svg) no-repeat top center;
    }

    &__icon--phone {
        background: url(../img/icons/phone.svg) no-repeat top center;
        filter: brightness(0.5);
    }

    &__content {
        line-height: 1.5;
    }

    &__title {
        font-size: 0.85em;
        margin-bottom: 0.3em;
    }

    &__text {
        font-size: 0.85em;
        color: $text-l;
    }

    &--phones {
        min-width: 100%;
        padding-bottom: 10px;

        .callback-phones {
            flex-direction: row;
            a {
                font-size: 1em;
                font-weight: 600;

                &::after {
                    display: inline;
                    opacity: 0.5;
                }
                &:last-child {
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.form-minimal {
    position: relative;

    .form-row {
        margin: 15px 0;

        &:first-child {
            margin-top: 0;
        }

        .form-group {
            > input[type="text"] {
                border-radius: 5px;
            }
        }
    }

    .form-group {
        width: 100%;
        position: relative;
        align-items: center;

        &--required {
            &::after {
                content: "";
                display: block;
                width: 40px;
                height: 100%;
                background: url(../img/icons/check-round.svg) no-repeat;
                background-position: 20% 50%;
                background-size: 45%;
                position: absolute;
                right: 0;
                top: 0;
                filter: brightness(2) grayscale(1);
            }
        }

        &.valid {
            &::after {
                filter: none;
            }
        }

        input {
            padding: 27px 40px 10px 20px;
            border: 1px solid $line-l;
            font-size: 18px;
            width: 100%;
            // margin-top: -1px;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
            -webkit-border-radius: 0;

            &:focus,
            &.not-empty,
            &:focus-within {
                outline: none;
                + label {
                    transform: translateY(-10px) scale(0.75);
                    opacity: 0.8;
                }
            }

            + label {
                pointer-events: none;
                top: auto;
                color: $text-l;
                font-size: 17px;
                padding: 0 25px;
                left: 0;
                position: absolute;
                transform: translateY(2px);
                transition: transform 0.15s ease-in-out;
                transform-origin: 0 0;
            }
        }
    }

    .form-block {
        margin: 15px 0;
        border-radius: 5px;
        border: 1px solid $line-l;
        overflow: hidden;
        background-color: #fff;

        .form-group {
            margin: 0;

            input {
                border: none;
                border-bottom: 1px solid $line-ll;
            }

            &:last-child {
                > input[type="text"],
                > input[type="password"] {
                    border: none;
                }
            }
        }
    }

    button[type="submit"] {
        color: #fff;
        background-color: $main;

        &:hover {
            background-color: $main-h;
        }

        &:focus {
            outline: 2px solid black;
        }

        &:disabled {
            background-color: $disabled;
        }
    }
}

.form--registration {
    max-width: 450px;
    padding-bottom: 150px;

    .btn {
        width: 100%;
        max-width: none;
        font-size: 16px;
        padding: 1.25em;
    }
}

.form-group {
    display: flex;

    input {
        border: 1px solid $line-ll;
    }

    &--need-check {
        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 100%;
            background: url(../img/icons/check-round.svg) no-repeat;
            background-position: 20% 50%;
            background-size: 45%;
            position: absolute;
            right: 0;
            top: 0;
            filter: brightness(2) grayscale(1);
        }
    }

    &.is-valid {
        &::after {
            filter: none;
        }
    }
}
