.list-products {
    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }

    &--fail {
        margin: 0;
        margin-top: -20px;

        .list-product__pic {
            opacity: 0.5;
        }
    }
}

.list-product {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 60px 0;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 2fr 4fr;
        column-gap: 15px;
        padding: 20px 0 35px 0;
        margin: 20px 0;
        border-bottom: 1px dashed $line-d;
    }

    &__info {
        display: flex;
        column-gap: 15px;
    }

    &__pic {
        display: block;
        text-decoration: none;
        transition: all 0.15s ease-in-out;

        picture,
        img {
            background-color: $bg-l;
            font-size: 12px;
            display: block;
            border-radius: 4px;
            overflow: hidden;
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &__brand {
        font-weight: 600;
        font-size: 15px;
    }

    &__title {
        font-size: 13px;
    }

    &__remove {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/icons/close.svg) no-repeat top right;
        background-size: 36%;
        border: none;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 1;
        }

        @media screen and (min-width: 768px) {
            top: 30px;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
    }

    &__btn {
        text-align: left;
        margin: 5px 0;
        padding: 0;
        border: none;
        background: none;
        text-decoration: underline;
        cursor: pointer;
        transition: border-bottom-color 0.15s ease-in-out;
        color: $text-d;

        &:hover {
            color: $text;
            text-decoration: none;
        }
    }

    &__table {
        margin-top: 15px;
        flex-shrink: 0;

        @media screen and (min-width: 768px) {
            margin-top: -10px;
            // margin-right: 40px;
        }
    }

    &__fail {
        color: $main;
        font-weight: 600;
        font-size: 13px;
        padding-top: 30px;
    }

    // &:first-child {
    //     @media screen and (min-width: 768px) {
    //         border-top: 1px solid $line-d;
    //     }
    // }

    &:not(:first-child) {
        @media screen and (min-width: 768px) {
            .list-product__table {
                thead {
                    visibility: collapse;

                    tr th {
                        height: 0;
                        overflow: hidden;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        &:first-child {
            .list-table {
                margin-top: -70px;
                thead tr th {
                    border-bottom: none;
                }

                tbody tr:first-child td {
                    padding-top: 30px;
                }
            }
        }

        &:not(:first-child) {
            .list-table thead tr th {
                opacity: 0;
                border-bottom: none;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.list-properties {
    padding-top: 15px;

    &__item {
        font-size: 13px;
        padding-bottom: 3px;
        > span {
            color: $text-l;
        }
    }
}
