.menu-tabs {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 15px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__item {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $base-fz * 11px;
        color: $text;
        padding: 17px;
        border: 2px solid transparent;
        border-top: 2px solid $line-l;
        line-height: 1;
        text-align: center;
        transition: background-color 0.15s ease-in-out;
        flex: 1 1 0px; // одинаковая ширина флекс элементов

        @media screen and (min-width: 768px) {
            border: none;
            border-bottom: 4px solid $line-l;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: $bg-l;
        }

        &:first-child {
            border-top-color: transparent;
        }

        &.is-active {
            font-weight: 600;
            border: 2px solid $main;

            @media screen and (min-width: 768px) {
                border: none;
                border-bottom: 4px solid $main;
            }

            + .menu-tabs__item {
                border-top-color: transparent;
            }
        }
    }
}
