.modal {
    padding: 0;
    border-radius: 5px;
    display: none;

    &__title {
        padding: 20px;
        padding-top: 30px;
        font-size: 20px;
        font-weight: 600;
    }

    &__content {
        padding: 20px;
        position: relative;
    }

    &--callback {
        width: 100%;
        max-width: 450px;

        @media screen and (min-width: 768px) {
            .modal__title {
                padding-top: 50px;
                padding-left: 60px;
            }
            .modal__content {
                padding-left: 60px;
                padding-right: 60px;
                padding-top: 0;
            }
        }

        .btn {
            width: 100%;
            max-width: none;
            font-size: 16px;
            padding: 0.95em 1.5em;
        }
        .modal-link {
            margin-left: 6px;
        }
    }

    &--login {
        width: 100%;
        max-width: 450px;

        @media screen and (min-width: 768px) {
            .modal__title {
                padding-top: 40px;
                padding-left: 50px;
            }
            .modal__content {
                padding-top: 0;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 50px;
            }
        }

        .btn {
            width: 100%;
            max-width: none;
            font-size: 16px;
            margin-top: 5px;
            padding: 1em 1.5em;
        }
    }

    &--recover {
        width: 100%;
        max-width: 450px;

        @media screen and (min-width: 768px) {
            .modal__title {
                padding-top: 40px;
                padding-left: 50px;
            }
            .modal__content {
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 60px;
            }
        }

        .btn {
            width: 100%;
            max-width: none;
            font-size: 16px;
            margin-top: 20px;
            padding: 0.95em 1.5em;
        }
    }

    &--map {
        width: 100%;
        max-width: 750px;

        > .modal__content {
            height: 500px;
        }
    }

    &--quickview {
        max-width: 1000px;
        padding: 40px;
    }
}

.modal-link {
    padding: 0;
    display: inline;
    border: none;
    color: $main;
    background: none;
    cursor: pointer;
    border-bottom: 1px dashed $main-l;
    line-height: 1.4;
    transition: border-bottom-color 0.15s ease-in-out;

    &:hover {
        border-bottom-color: $main-l + 20;
    }
}
