.modal {
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
    width: 100%;

    &__title {
        padding: 30px 20px 0 20px;
        font-size: $base-fz * 20px;
        font-weight: 600;

        @media screen and (min-width: 768px) {
            padding-top: 50px;
            padding-bottom: 20px;
            padding-left: 60px;
        }
    }

    &__content {
        padding: 20px;
        position: relative;

        ul {
            font-size: $base-fz * 14px;
            line-height: 1.4;
        }

        @media screen and (min-width: 768px) {
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 60px;
            padding-top: 0;
        }
    }

    .btn {
        width: 100%;
        max-width: none;
        font-size: $base-fz * 16px;
        margin-top: 5px;
        padding: 0.95em 1.5em;
    }

    &--callback {
        max-width: 450px;

        .btn {
            margin-top: 5px;
            padding: 0.95em 1.5em;
        }

        .modal-link {
            margin-left: 6px;
        }
    }

    &--login {
        max-width: 450px;

        .btn {
            margin-top: 5px;
            padding: 1em 1.5em;
        }
    }

    &--recover {
        max-width: 450px;
    }

    &--map {
        width: 100%;
        max-width: 750px;

        .modal__title {
            padding: 30px 20px 0 20px;
        }

        .modal__content {
            height: 550px;
            min-width: 300px;
            width: 100%;
            padding: 20px;

            > ymaps {
                width: 100% !important;
                > ymaps {
                    width: 100% !important;
                }
            }

            @media screen and (min-width: 400px) {
                width: 360px;
            }

            @media screen and (min-width: 600px) {
                width: 560px;
            }

            @media screen and (min-width: 700px) {
                width: 660px;
            }

            @media screen and (min-width: 768px) {
                width: 700px;
            }
        }
    }

    &--quickview {
        max-width: 960px;
    }

    &--letter {
        max-width: 700px;
        > .modal__content {
            @media screen and (min-width: 700px) {
                padding: 60px 60px 100px 60px;
            }
            @media screen and (min-width: 1024px) {
                padding: 80px 80px 100px 80px;
            }
        }
    }

    &--sm {
        width: 100%;
        max-width: 450px;

        @media screen and (min-width: 768px) {
            .modal__title {
                padding-top: 50px;
                padding-left: 50px;
            }
            .modal__content {
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 0;
                padding-bottom: 60px;
            }
        }

        .btn {
            width: 100%;
            max-width: none;
            font-size: $base-fz * 16px;
            padding: 0.95em 1.5em;
        }
    }

    &--md {
        max-width: 650px;
        min-width: 300px;

        @media screen and (min-width: 768px) {
            width: 550px;
        }
    }

    &--std {
        width: 90%;
        margin: 0 auto;
        max-width: 800px;
    }

    &--lg {
        max-width: 300px;
        min-width: 250px;

        @media screen and (min-width: 768px) {
            max-width: 700px;
            min-width: 350px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 1000px;
            min-width: 500px;
        }

        @media screen and (min-width: 1400px) {
            max-width: 1200px;
            min-width: 600px;
        }
    }
}

.modal-link {
    padding: 0;
    display: inline;
    border: none;
    color: $main;
    background: none;
    cursor: pointer;
    border-bottom: 1px dashed $main-ll;
    line-height: 1.4;
    transition: border-bottom-color 0.15s ease-in-out;

    &:hover {
        border-bottom-color: $main-lll;
    }
}
