.orders {
    display: flex;
    flex-direction: column;
}

.order {
    display: flex;
    border-bottom: 2px dotted $line-l;
    align-items: center;
    gap: 30px 15px;
    flex-wrap: wrap;
    padding: 35px 0;

    @media screen and (min-width: 1024px) {
        gap: 30px;
    }

    &:last-child {
        border-bottom: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px 20px;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        @media screen and (min-width: 400px) {
            column-gap: 10px;
            width: 40%;
        }
        @media screen and (min-width: 900px) {
            width: 20%;
        }

        @media screen and (min-width: 1320px) {
            width: 17%;
        }
    }
}

.order-payment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;

    @media screen and (min-width: 900px) {
        width: 30%;
    }

    @media screen and (min-width: 1320px) {
        width: 23%;
    }
}

.order-icons {
    padding: 15px;
    background-color: lighten($bg-l, 1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;
    border-radius: 4px;
    width: 100%;

    @media screen and (min-width: 900px) {
        width: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        padding: 20px;
        gap: 25px 15px;
    }

    &__item {
        text-align: center;
        font-size: 10px;
        max-width: 70px;
        color: $text;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;

        @media screen and (min-width: 1200px) {
            max-width: 75px;
        }

        &::before {
            content: "";
            width: 35px;
            height: 35px;
            display: block;
        }
    }
}

.docs {
    &::before {
        transition: all 0.15s ease-in-out;
    }

    &:hover {
        text-decoration: none;
        &::before {
            opacity: 0.9;
            transform: translateY(-3px);
        }
    }
    &--1 {
        &::before {
            background: url(../img/icons/order-icons/docs/01.svg) no-repeat center/75%;
        }
    }

    &--2 {
        &::before {
            background: url(../img/icons/order-icons/docs/02.svg) no-repeat center/60%;
        }
    }

    &--3 {
        &::before {
            background: url(../img/icons/order-icons/docs/03.svg) no-repeat center/75%;
        }
    }
}

.statuses {
    &--1 {
        &::before {
            background: url(../img/icons/order-icons/statuses/01.svg) no-repeat center/100%;
        }
    }
    &--2 {
        &::before {
            background: url(../img/icons/order-icons/statuses/02.svg) no-repeat center/80%;
        }
    }

    &--1-inprogress {
        &::before {
            background: url(../img/icons/order-icons/statuses/01_.svg) no-repeat center/100%;
        }
    }
    &--2-inprogress {
        &::before {
            background: url(../img/icons/order-icons/statuses/02_.svg) no-repeat center/80%;
        }
    }
    
    &--1-failed {
        &::before {
            background: url(../img/icons/order-icons/statuses/01__.svg) no-repeat center/100%;
        }
    }
    &--2-failed {
        &::before {
            background: url(../img/icons/order-icons/statuses/02__.svg) no-repeat center/80%;
        }
    }    
}
