.order-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px dotted $line-l;
    padding-bottom: 30px;
    padding-top: 15px;
    column-gap: 25px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        justify-content: center;
        align-items: center;
        column-gap: 7px;
        font-size: 12px;

        > img {
            width: 20px;
            height: 20px;
        }

        &--disabled {
            > img {
                filter: grayscale(1) brightness(3);
            }
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__separator {
        height: 20px;
        width: 100%;
        flex-shrink: 1;
        background: url(../img/icons/arrow-long.svg) no-repeat center right;

        &--disabled {
            filter: grayscale(1) brightness(4);
        }

        @media screen and (min-width: 768px) {
            width: 80px;
        }    
        
        @media screen and (min-width: 1200px) {
            width: 110px;
        }         
    }
}
