.payment {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 15px;
}

.payment-info {

    white-space: nowrap;
    &__sum {
        font-weight: 600;
        font-size: $base-fz * 17px;
    }

    &__quantity {
        font-size: $base-fz * 12px;
        color: $text-ll;
    }

    &__return {
        color: $main;
        font-size: $base-fz * 12px;
        padding-top: 4px;
    }
}

.payment-status {
    font-weight: 600;
    font-size: $base-fz * 14px;

    &__success {
        padding-left: 15px;
        color: $special-2;
    }
}

.payment-deposit {
    fieldset {
        border: 1px solid $line-l;
        border-radius: 4px;
        display: flex;
        align-items: flex-start;
        column-gap: 10px;
        row-gap: 5px;
        padding-top: 10px;
        flex-wrap: wrap;
        legend {
            font-size: $base-fz * 11px;
        }
        input {
            border: 1px solid $line-l;
            border-radius: 0;
            padding: 6px 10px;
            line-height: 1.3;
            border-radius: 3px;
            max-width: 130px;
        }
    }

    .form-group--need-check::after {
        width: 30px;
    }
}

.payment-return {
    border: 1px solid $line-l;
    padding: 15px;
    border-radius: 4px;

    &__content {
        font-size: $base-fz * 12.5px;
        padding-bottom: 10px;

        > span {
            font-weight: 600;
        }
    }

    &__controls {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
}
