.product-info {
    padding-top: 30px;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;

    @media screen and (min-width: 768px) {
        padding: 40px 40px 60px 60px;
        background-color: #fff;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        grid-area: info;
        width: 100%;
        align-items: stretch;
    }

    @media screen and (min-width: 1300px) {
        padding-left: 100px;
    }

    &__header {
        position: relative;
        margin-bottom: 50px;
        margin-top: 25px;
        grid-area: header;

        @media screen and (min-width: 768px) {
            margin-bottom: 50px;
        }

        @media screen and (min-width: 1024px) {
            order: 0;
        }
    }

    &__title {
        font-size: 22px;
        padding-top: 0;
        padding-bottom: 5px;
        padding-right: 60px;
        color: $text;
        text-decoration: none;

        @media screen and (min-width: 768px) {
            font-size: 28px;
        }
    }

    &__price {
        @media screen and (min-width: 768px) {
            // order: 2;
            font-size: 1.1em;

            .product-price__opt {
                max-width: none;
            }
        }

        // @media screen and (min-width: 1024px) {
        //     order: 1;
        // }
    }

    &__properties {
        margin-top: 50px;
        grid-area: properties;

        @media screen and (min-width: 768px) {
            // margin-top: ;

            .product-properties__title {
                background-color: #fff;
                &::after {
                    background-color: #fff;
                }
            }

            .product-properties__text {
                background-color: #fff;
            }
        }

        // @media screen and (min-width: 1024px) {
        //     order: 2;
        // }
    }

    &__moreinfo {
        grid-area: moreinfo;
        @media screen and (min-width: 1024px) {
            order: 3;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        column-gap: 10px;
        flex-wrap: wrap;
    }

    &__column {
        display: flex;
        column-gap: 30px;

        @media screen and (min-width: 1200px) {
            column-gap: 70px;
        }

        .product-price {
            max-width: 320px;
        }

        .social-share {
            align-items: flex-start;
        }
    }

    &__counter {
        font-size: 13px;
    }

    &__link {
        font-size: 13px;
        color: $text-l;
        text-decoration: none;
        border: none;
        padding: 0;
        border-bottom: 1px dashed $text-ll;
        transition: $tr;
        line-height: 1.3;
        background: none;
        cursor: pointer;

        &:hover {
            border-bottom-color: transparent;
            color: $text;
        }
    }

    &__brand {
        background-color: #fff;
        font-size: 12px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: $text;
        line-height: 1.5;
        border-radius: 4px;

        &:hover {
            text-decoration: none;
        }

        > img {
            max-width: 90px;
        }
        @media screen and (min-width: 600px) {
            flex-direction: row;
            text-align: left;
            justify-content: flex-start;
        }

        @media screen and (min-width: 768px) {
            order: 5;
            font-size: 13px;
            box-shadow: 0 2px 6px rgb(235, 235, 235);
            text-decoration: none;
            transition: $tr;
            color: $text-l;

            &:hover {
                color: $text;
                box-shadow: 0 4px 8px rgb(228, 228, 228);
            }
        }
    }

    &__favorite {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -5px;
        right: 0;
        z-index: 1;

        &.product-favorite {
            @media screen and (min-width: 1200px) {
                position: relative;
                top: 0;
                height: 20px;
                width: 30px;
                background-size: 65%;

                &.is-active {
                    background-size: 63%;
                }

                &:hover {
                    transform: scale(1);
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }

    &__colors {
        // grid-area: colors;
        // position: relative;
        // width: 100%;
        padding-top: 35px;

        > p {
            font-size: 13px;
            color: $text-ll;

            > span {
                color: $text;
            }
        }

        // @media screen and (min-width: 1024px) {
        //     order: 4;
        // }

        // @media screen and (min-width: 1200px) {
        //     padding-top: 5px;
        // }
    }

    &__sizes {
        grid-area: sizes;
        width: 100%;
        padding-top: 35px;

        @media screen and (min-width: 1024px) {
            order: 5;
        }
    }

    &__text {
        grid-area: text;
        padding-top: 40px;
        @media screen and (min-width: 768px) {
            order: 7;
        }
    }

    &__share {
        &.social-share {
            display: none;

            @media screen and (min-width: 768px) {
                display: flex;
            }
        }
    }

    .info-description {
        max-width: 550px;
    }
}
