.product-buy {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__panel {
        position: relative;
        height: 65px;
        padding: 15px;
        z-index: 1000;
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 15px;
        row-gap: 15px;
        box-shadow: 0 0 25px rgba(57, 56, 59, 0.2);
        // flex-wrap: wrap;
    }

    &__btn {
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: #fff;
        border-radius: 3px;
        padding: 10px 5px;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:active {
            transform: translateY(1px);
        }

        &--showsizes {
            background-color: $special-2;

            &:hover {
                background-color: darken($special-2, 10);
            }

            // &::after {
            //     content: "Показать размеры";
            // }

            // &.is-active {
            //     &::after {
            //         content: "Скрыть размеры";
            //     }
            // }
        }

        &--tocart {
            background-color: $main;

            &:hover {
                background-color: darken($main, 10);
            }
        }
    }

    // &__close {
    //     position: absolute;
    //     width: 30px;
    //     height: 30px;
    //     background: url(../img/icons/close.svg) no-repeat center;
    //     background-size: 50%;
    //     top: 5px;
    //     right: 5px;
    //     display: block;
    //     border: none;
    //     opacity: 0.6;

    //     &:hover {
    //         opacity: 1;
    //     }
    // }

    // &__overlay {
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: fixed;
    //     z-index: 1;

    //     background-color: rgba(34, 32, 32, 0.5);
    //     width: 0;
    //     height: 0;
    //     pointer-events: none;

    //     &.is-active {
    //         width: 100%;
    //         height: 100%;
    //         pointer-events: all;
    //     }
    // }

    // &__table {
    //     position: fixed;
    //     bottom: 65px;
    //     left: 0;
    //     background-color: #fff;

    //     width: 100%;
    //     padding: 40px 15px 30px 15px;
    //     box-shadow: 0 -10px 10px rgba(57, 56, 59, 0.1);
    //     opacity: 0;
    //     visibility: hidden;
    //     pointer-events: none;
    //     max-height: 0;
    //     transition: transform 0.15s ease-in-out;
    //     z-index: 998;
    //     transform: translateY(10px);

    //     &.is-active {
    //         opacity: 1;
    //         visibility: visible;
    //         pointer-events: all;
    //         max-height: 85vh;
    //         transform: translateY(0);
    //     }

    //     .product-sizes {
    //         max-height: 80vh;
    //         overflow-y: scroll;
    //         padding-top: 0;
    //         padding-bottom: 30px;

    //         &::-webkit-scrollbar {
    //             width: 5px;
    //         }

    //         &::-webkit-scrollbar-thumb {
    //             height: 4px;
    //             background-color: $line-l;
    //             border-radius: 3px;
    //         }
    //     }
    // }
}
