.product-thumbs {
    flex-shrink: 0;
    width: 100%;
    max-width: 465px;
    margin: 10px auto 20px auto;

    &__item {
        padding: 0;
        max-width: 60px;
        margin: 3px;
        border-radius: 3px;
        transition: outline 0.15s ease-in-out;
        outline: 1px solid #fff;
        cursor: pointer;

        picture {
            display: block;
            width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &.is-nav-selected {
            outline-color: $main;
        }
    }
}
