.product-gallery {
    display: flex;
    align-self: flex-start;

    &__thumbs {
        display: none;
        
        @media screen and (min-width: 1024px) {
            display: block;
        }
    }

    @media screen and (min-width: 1024px) {
        grid-area: gallery;
        background-color: #fff;
        column-gap: 5px;
    }
}
