.quote-image {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-top: -50px;
  border-bottom: 1px solid $line-ll;

  &__content {
    font-style: italic;
    font-size: 14px;
    line-height: 1.4;
    text-align: right;
    max-width: 450px;
    margin-left: auto;
    margin-top: 50px;
  }
}