.size-variants {
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    padding: 15px 15px 20px 15px;
    position: absolute;
    width: calc(100% + 70px);
    background-color: #fff;
    z-index: 3;
    border-radius: 0 0 3px 3px;

    &__item {
        display: none;
        text-decoration: none;
        background-color: #fff;
        cursor: pointer;
        color: $text;
        font-size: 11px;
        border: 1px solid $line-l;
        padding: 0.5em;
        border-radius: 3px;

        &:hover {
            border-color: $line-dd;
        }

        &.is-showed {
            display: block;
        }

        &.is-active {
            border-color: $main;
            background-color: $main;
            color: #fff;
        }
    }
}