.table-sizes {
    .table-title {
        font-weight: 600;
        padding-bottom: 10px;
    }

    .table-responsive {
        margin-bottom: 30px;
    }

    > p {
        margin-bottom: 30px;
    }
}
