.tabs {
    &--category {
        padding-top: 30px;
        padding-bottom: 30px;

        .tabs-titles {
            &__item {
                padding: 30px;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.tabs-titles {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__item {
        flex-grow: 1;
        text-decoration: none;
        color: $text-d;
        border: 2px solid transparent;
        border-top: 2px solid $line-l;
        transition: background-color 0.15s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $bg-l;
        }

        &:first-child {
            border-top-color: transparent;
        }

        &.is-active {
            border-color: $main;
            background-color: $bg-l;

            + .tabs-titles__item {
                border-top-color: transparent;
            }

            svg path {
                stroke: $main;
            }
        }

        @media screen and (min-width: 768px) {
            border: none;
            border-bottom: 4px solid $line-l;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

            &.is-active {
                border-bottom-color: $main;
                background-color: $bg-l;

                svg path {
                    stroke: $main;
                }
            }
        }
    }
}

.tabs-content {
    &__item {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

.tabs-title-category {
    display: flex;
    column-gap: 10px;

    &__info {
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
        padding-bottom: 5px;
    }

    &__description {
        color: $text-l;
        font-size: 10px;
        text-transform: initial;
    }
}
