.warning {
    padding: 5px 8px;
    border: 1px solid $main-l;
    font-size: 13px;
    display: inline-block;
    color: $main;
    border-radius: 3px;

    > p:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    > p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }    
}