.warning {
    padding: 5px 8px;
    border: 1px solid $main-ll;
    font-size: 13px;
    display: inline-block;
    color: $main;
    border-radius: 3px;

    > p:first-child {
        padding-top: 0;
        margin-top: 0;
    }

    > p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    &--good {
        color: $special-2;
        border-color: $special-2;
    }
}